.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.2);
    position: relative;
    z-index: 10;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: 0.9rem;
    color: #3d3d3d;
}
