@import "../../../../../assets/styles/variables.scss";

.row-card {
  box-shadow:
    0 10px 20px rgba(0, 0, 0, 0.19),
    0 6px 6px rgba(0, 0, 0, 0.23);
  background: $neutral-100;
  border-radius: 14px;
}

.mobile-label {
  font-weight: 700;
}

.mobile-cell {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
