<!-- <p>mobile-table works!</p> -->
<div class="col">
  <div
    class="row row-card px-3 py-2 s my-3 g-0"
    *ngFor="let row of rows; let i = index"
  >
    <ng-container *ngFor="let col of columns; let i = index">
      <div
        class="py-3 d-flex flex-column mobile-cell"
        [class.col-sm-6]="col.prop !== 'actions'"
        [class.col-12]="col.prop !== 'actions'"
        [class.col-12]="col.prop === 'actions'"
      >
        <span class="mobile-label" *ngIf="col.prop !== 'actions'">{{
          col?.label
        }}</span>
        <ng-container
          [ngTemplateOutlet]="template"
          [ngTemplateOutletContext]="{ row: row, col: col }"
        >
        </ng-container>
      </div>
    </ng-container>
  </div>
</div>
