@import "../../../../../assets/styles/variables.scss";

.web-table {
  overflow-x: auto;
  border: 1px solid #e5e5e5;
  border-radius: 8px;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: none;
}

.bg-grey {
  background: $neutral-90;
}

td,
th {
  border-bottom: 1px solid $neutral-63;
  text-align: left;
  max-width: 190px;
  min-width: 100px;
}

.web-label {
  font-weight: 700;
}

.table-cell {
  overflow: hidden;
  text-overflow: ellipsis;
}
