<div class="web-table">
  <table>
    <tr>
      <th class="table-cell p-3" *ngFor="let col of columns">
        <h6 class="web-label">{{ col.label }}</h6>
      </th>
    </tr>
    <tr *ngFor="let row of rows; let i = index" [class.bg-grey]="i % 2 === 0">
      <ng-container *ngFor="let col of columns">
        <td>
          <div class="table-cell p-3">
            <ng-container
              [ngTemplateOutlet]="template"
              [ngTemplateOutletContext]="{ row: row, col: col }"
            >
            </ng-container>
          </div>
        </td>
      </ng-container>
    </tr>
  </table>
</div>
