<app-side-panel
  *ngIf="showPanel"
  title="Elimina Prodotto"
  (close)="closePanel()"
>
  <div class="row mb-3">
    <div class="col">
      <p>
        Sei sicuro di voler eliminare il prodotto <b>{{ data.data.title }}</b> ?
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col d-flex justify-content-end">
      <button type="button" class="btn btn-primary" (click)="handleConfirm()">
        Conferma
      </button>
    </div>
  </div>
</app-side-panel>
