<div class="row w-100 m-0 mt-4">
  <app-mobile-table
    [template]="mobTemplate"
    class="mobile"
    [rows]="rows"
    [columns]="columns"
  >
    <ng-template let-row="row" let-col="col" #mobTemplate>
      <ng-container
        [ngTemplateOutlet]="mobileTemplate"
        [ngTemplateOutletContext]="{ row: row, col: col }"
      >
      </ng-container>
    </ng-template>
  </app-mobile-table>
  <app-web-table
    [template]="webTemplate"
    class="desktop p-0"
    [rows]="rows"
    [columns]="columns"
  >
    <ng-template let-row="row" let-col="col" #webTemplate>
      <ng-container
        [ngTemplateOutlet]="desktopTemplate"
        [ngTemplateOutletContext]="{ row: row, col: col }"
      >
      </ng-container>
    </ng-template>
  </app-web-table>
</div>
