.side-panel {
    height: 100vh;
    width: 20rem;
    position: absolute;
    right: 0;
    top: 0;
    background: white;
    z-index: 11;
    box-shadow:
        0 10px 20px rgba(0, 0, 0, 0.19),
        0 6px 6px rgba(0, 0, 0, 0.23);
    animation: open 0.5s ease-in-out;
}

.times {
    font-size: 2rem;
    cursor: pointer;
}

.title {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

@keyframes open {
    from {
        transform: translateX(20rem);
    }

    to {
        transform: translateX(0);
    }
}
