<div class="side-panel">
  <div class="container d-flex flex-column">
    <div class="row mt-2">
      <div class="col d-flex align-items-center title">{{ title }}</div>
      <div class="col-auto" (click)="handleClose()">
        <span class="times"> &times; </span>
      </div>
    </div>
    <hr class="my-2" />
    <div class="row flex-grow-1">
      <div class="col d-flex flex-column outlet">
        <ng-content></ng-content>
      </div>
    </div>
  </div>
</div>
