<app-side-panel
  (close)="closePanel()"
  *ngIf="showPanel"
  [title]="'Statistiche'"
>
  <div class="col" *ngIf="!chartLoaded">
    <div style="display: block">
      <canvas
        baseChart
        class="chart"
        [data]="polarAreaChartData"
        [legend]="true"
        [type]="'polarArea'"
      >
      </canvas>
    </div>
  </div>
</app-side-panel>
