<div
  class="container-fluid d-flex flex-column px-0 app outlet"
  *ngIf="storeDetail.name"
>
  <app-header>
    <div class="row py-2 w-100 m-0 align-items-center">
      <div class="col-auto">
        <i class="fa-solid fa-house"></i>
      </div>
      <div class="col-auto px-1"><i class="fa-solid fa-chevron-right"></i></div>
      <div class="col-auto">
        {{ storeDetail.category | titlecase }}
      </div>
      <div class="col-auto px-1"><i class="fa-solid fa-chevron-right"></i></div>
      <div class="col-auto">
        <span>
          {{ storeDetail.name }}
        </span>
      </div>
      <div class="col-lg col-12 d-flex justify-content-lg-end mt-1 mt-lg-0">
        <div class="row">
          <div class="col-auto d-flex align-items-center">
            <i class="fa-solid fa-magnifying-glass"></i>
            <input
              type="text"
              class="search"
              placeholder="Cerca per titolo..."
              (input)="searchAction($event)"
            />
          </div>
          <div class="col-auto">
            <button (click)="addAction()" type="button" class="btn btn-primary">
              <span class="desktop"> Aggiungi Prodotto </span>
              <span class="mobile">
                <i class="fa-regular fa-plus" aria-hidden="true"></i>
              </span>
            </button>
          </div>
          <div class="col-auto ps-0">
            <button
              (click)="statisticsAction()"
              type="button"
              class="btn btn-primary"
            >
              <span class="desktop"> Statistiche </span>
              <span class="mobile">
                <i class="fa-solid fa-chart-line"></i>
              </span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </app-header>

  <router-outlet></router-outlet>
</div>

<app-loader [show]="showLoader"></app-loader>
