<app-side-panel (close)="closePanel()" *ngIf="showPanel" [title]="title">
  <div class="row my-2">
    <div class="col">
      <h6>
        <i class="fa-regular fa-comment" aria-hidden="true"></i>
        Recensioni ({{ reviews.length }})
      </h6>
    </div>
  </div>
  <div class="card px-2 mb-2" *ngFor="let item of reviews">
    <div class="row p-3">
      <div class="col-auto">
        <i class="fa-regular fa-comment" aria-hidden="true"></i>
      </div>
      <div class="col">{{ item }}</div>
    </div>
  </div>
  <div class="card px-2 mb-2" *ngIf="reviews.length === 0">
    <div class="row p-3">
      <div class="col">
        <p class="mb-0">Nessuna recensione</p>
      </div>
    </div>
  </div>
  <!-- <hr />
  <div class="row mt-3">
    <div class="form-group">
      <label class="mb-2" for="description">Aggiungi Recensione </label>
      <textarea
        rows="4"
        class="form-control"
        id="description"
        name="description"
        placeholder="Inserisci la tua opinione"
      ></textarea>
    </div>
  </div>
  <div class="row w-100 m-0 mt-2">
    <div class="col d-flex justify-content-end p-0">
      <button class="btn btn-primary">Salva</button>
    </div>
  </div> -->
</app-side-panel>
