<div class="container-fluid d-flex flex-column p-3 pb-5">
  <div class="row flex-grow-1">
    <div class="col">
      <app-main-table
        [desktopTemplate]="defaultTemplate"
        [mobileTemplate]="defaultTemplate"
        [rows]="Products"
        [columns]="columns"
      >
        <ng-template let-row="row" let-col="col" #defaultTemplate>
          <div [ngSwitch]="col.prop">
            <div *ngSwitchDefault>
              {{ row.data[col.prop] }}
            </div>

            <div *ngSwitchCase="'price'">
              {{ row.data.price | currency : "EUR" }}
            </div>

            <div *ngSwitchCase="'actions'">
              <div class="row justify-content-md-start justify-content-end">
                <div class="col-auto">
                  <i
                    class="fa-regular fa-trash-can icon-pointer"
                    (click)="openDeleteModal(row)"
                    aria-hidden="true"
                  ></i>
                </div>
                <div class="col-auto">
                  <i
                    (click)="openProductReviews(row.data)"
                    class="fa-regular fa-comment icon-pointer"
                    aria-hidden="true"
                  ></i>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </app-main-table>

      <div class="card p-3 mt-2" *ngIf="Products.length === 0">
        <div class="row">
          <div class="col">Nessun elemento presente</div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-add-product #addProduct (afterSubmit)="getProducts()"></app-add-product>

<app-product-reviews #productReview></app-product-reviews>

<app-delete-product
  #deleteProduct
  (confirm)="handleDelete($event)"
></app-delete-product>

<app-statistics #stats></app-statistics>
