<app-side-panel
  *ngIf="showPanel"
  title="Aggiungi Prodotto"
  (close)="closePanel()"
>
  <div class="row">
    <form #productForm="ngForm">
      <div class="form-group mb-2">
        <label for="title">Titolo *</label>
        <input
          type="text"
          class="form-control"
          required
          id="title"
          name="title"
          placeholder="Inserisci il titolo"
          [(ngModel)]="product.title"
        />
      </div>
      <div class="form-group mb-2">
        <label for="description">Descrizione *</label>
        <textarea
          rows="4"
          class="form-control"
          required
          id="description"
          name="description"
          placeholder="Inserisci la descrizione"
          [(ngModel)]="product.description"
        ></textarea>
      </div>
      <div class="form-group mb-2">
        <label for="price">Prezzo *</label>
        <input
          type="number"
          step="0.01"
          class="form-control"
          required
          id="price"
          name="price"
          [(ngModel)]="product.price"
          placeholder="Inserisci il prezzo"
        />
      </div>
      <div class="form-group mb-2">
        <label for="category">Categoria *</label>
        <input
          type="text"
          class="form-control"
          required
          id="category"
          name="category"
          placeholder="Inserisci la categoria"
          [(ngModel)]="product.category"
        />
      </div>

      <div class="form-group mb-2">
        <label for="employee">Impiegato *</label>
        <select
          type="text"
          class="form-control"
          required
          id="employee"
          name="employee"
          [(ngModel)]="product.employee"
        >
          <option value="">Inserisci l'impiegato</option>
          <option *ngFor="let item of employersDomain" [value]="item">
            {{ item }}
          </option>
        </select>
      </div>
    </form>
    <div class="row w-100 m-0 mt-2">
      <div class="col d-flex justify-content-end p-0">
        <button
          [disabled]="productForm.invalid"
          (click)="addNewProduct()"
          class="btn btn-primary"
        >
          Salva
        </button>
      </div>
    </div>
  </div>
</app-side-panel>
