#under-layer {
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background-color: rgba(51, 51, 51, 0.4);
    z-index: 99;
}

#layer-container {
    position: absolute;
    justify-content: center;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
}

.loader {
    margin: auto;
    background: transparent;
    display: block;
    shape-rendering: auto;
    height: 40vh;
}
