/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "./assets/styles/breakpoints.scss";
@import "ngx-toastr/toastr";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");

html,
body {
    overflow-x: hidden;
    overflow-y: hidden;
    margin: 0;
    height: 100vh;
    width: 100vw;
    font-family: "Montserrat", sans-serif;
    position: relative;
    z-index: 0;
}

.modal {
    display: block;
}

.app {
    animation: appear 0.5s ease-in-out;
}

.outlet {
    overflow: auto;
    height: 85vh;
}

.container,
.container-fluid {
    min-height: 100%;
}

.btn.btn-primary {
    background: #3d3d3d;
    color: white;
    border-color: white;
    font-size: 0.7rem;
    &:active {
        background: #3d3d3d;
        border-color: white;
    }
}

.search {
    border: none;
    border-bottom: 1px solid;
    outline: none;
    margin-left: 0.5rem;
}

@keyframes appear {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
