//? variables
// colors
$primary: #006BB1;
$on-primary: #ffffff;
$primary-container: #ffffff;
$on-primary-container: #006BB1;
$secondary: #FF5E14;
$on-secondary: #ffffff;
$secondary-container: #ffffff;
$on-secondary-container: #FF5E14;
$ui-success: #52c41a;
$ui-error: #ff4d4f;
$ui-warning: #faad14;
$ui-active: #006BB1;
$neutral-0: #020D26;
$neutral-10: #001B47;
$neutral-20: #3F485D;
$neutral-30: #474747;
$neutral-35: #808080;
$neutral-40: #9E9E9E;
$neutral-45: #B6B6B6;
$neutral-50: #99BE80;
$neutral-55: #EEEEEE;
$neutral-60: #EDEDED;
$neutral-63: #ECF1F4;
$neutral-65: #F5F5F5;
$neutral-70: #F5F6F7;
$neutral-80: #F8F8F8;
$neutral-90: #FAFCFE;
$neutral-100: #ffffff;